WORKLOAD_NAME=vulnbank-msa
APP_NAME=vulnbank-msa
MSA_WORKLOAD_DIR=examples/vulnbank-msa
SERVICES=user-service,transaction-service,status-service,file-service,settings-service,frontend
NAMESPACE=secure-path-dev
REGISTRY_URL=localhost:9092
REGISTRY_PROJECT=secure-delivery
DEPLOY_MODE=helm
ENFORCE_GATE=false
KUBECONFIG=/var/jenkins_home/kubeconfig
HELM_RELEASE=vulnbank-msa
HELM_CHART_DIR=helm/vulnbank-msa
GITOPS_APP_DIR=gitops/apps/vulnbank-msa/dev
ARGOCD_APP_MANIFEST=argocd/applications/vulnbank-msa-dev.yaml
ARGOCD_APP_NAME=vulnbank-msa-dev
